---
- name: Ensure generated configs directory exists
  delegate_to: localhost
  file:
    path: "{{ playbook_dir }}/../../generated_config"
    state: directory
    mode: '0755'

- name: Generate Nginx configuration
  delegate_to: localhost
  template:
    src: nginx.conf.j2
    dest: "{{ playbook_dir }}/../../generated_config/nginx.conf"
    mode: '0644'

- name: Generate PHP index file
  delegate_to: localhost
  template:
    src: index.php.j2
    dest: "{{ playbook_dir }}/../../generated_config/index.php"
    mode: '0644'
