name: Ansible

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install ansible-lint
        run: pip install ansible-lint

      - name: Run ansible-lint
        run: cd ansible && ansible-lint .
